


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.logo{
  font-weight: bold;
  font-size: 24px;
  border-right: 1px solid #eee;
  padding-right: 15px;
  margin: 0;
}
nav{
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  border-right: 1px solid #eee;
  height: 45px;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
}

.my-2 mat-icon{
  width: auto;
  position: absolute;
  font-size: 21px;
  height: auto;
  margin: 0 0 0 10px;
  color: #999;
}
.my-2 input{
  padding-left: 40px;
  font-size: 13px;
  width: 100%;
}