


<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand logo" href="#">Bona</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <mat-icon>search</mat-icon>
      <input class="form-control mr-sm-2" type="search" placeholder="Type Of Search" aria-label="Search">
    </form>
  </div>
</nav>
