/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */


html{
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
box-sizing: inherit;
}
body {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  height: 100%;
  color: #292b2c;
  position: relative;
}
