


.card-box{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  margin-top: 15px;
  background: #fff;
  margin-bottom: 15px;
}
.card-box img{
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.card-box p{
  margin: 0;
  text-align: center;
  color: #000;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.card-box ul{
  padding: 0;
  margin: 0;
  display: flex;
  background: #eee;
  border-radius: 0 0 4px 4px;
}
.card-box ul li{
  width: 100%;
  display: inline-block;
}
.card-box ul button{
  width: 100%;
  border-radius: 4px;
  border-right: 1px solid #fff;
  font-size: 13px;
  color: #777;
  outline: none;
  height: 40px;
}
.card-box ul button mat-icon{
  font-size: 16px;
  height: auto;
  width: auto;
}