


<img src="../../assets/images/banner.jpeg" style="width: 100%;">

<div class="container">
  <div class="row">

    <div class="col-md-4" *ngFor="let i of [0,1,2]">
      <div class="card-box">
        <img src="../../assets/images/{{( i + 1 )}}.jpeg">
        <p>{{para[i]}}</p>
        <ul>
          <li><button mat-button><mat-icon>favorite</mat-icon> {{likesCount[i]}}</button></li>             
          <li><button mat-button><mat-icon>mode_comment</mat-icon> {{comCount[i]}}</button></li>
          <li><button mat-button style="border: none;"><mat-icon>remove_red_eye</mat-icon> {{viewsCount[i]}}</button></li>
        </ul>
      </div>
    </div>

  </div>

</div>